<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h3>Horarios Disponiveis</h3>
<ul>
    {% for list in hora %}
    <li>
        <a> {{ list.nome_professor }} / </a>
        <a> {{ list.disciplina }} / </a>
        <a> {{ list.data }} / </a>
        <a> {{ list.hora }}  </a>

    </li>

    {% endfor %}

</ul>
<a href="/comentarios/">Duvidas</a></ul>
</body>
</html>



